@import '/src/assets/styles/colors.scss';

:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $third-background-color;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: default;
    transition: background-color $transition-time $transition-pattern, color $transition-time $transition-pattern;
    height: 25px;

    .sticker-logo {
        width: 20px;
        height: 20px;
    }

    .sticker-logo, .sticker-label {
        margin: 2px;

    }

    &:hover {
        @include hover-color;
    }
}