<div *ngIf="data.logo" class="experience-card-header-logo">
    <div class="experience-card-logo">
        <svg-icon *ngIf="isLogoSvg()" [src]="data.logo.logoUrl" [svgStyle]="{ 'width.px':100, 'height.px':data.logo.logoHeight}"></svg-icon>
        <img [ngStyle]="{'width.px': data.logo.logoWidth, 'height': 'auto'}" class="experience-card-logo-image" *ngIf="!isLogoSvg()" [src]="data.logo.logoUrl">
    </div>
    <span class="experience-card-logo-separator"></span>
</div>



<div class="experience-card-detail">
    <div class="experience-card-header">
        <h3 class="experience-card-company">{{data.institution}}</h3>
        <div class="experience-card-dates">{{data.dateIn}} - {{data.dateOut}}</div>
        <h4 class="experience-card-title">{{data.title}}</h4>
        <h5 class="experience-card-location">{{data.location}}</h5>

    </div>

    <div *ngIf="openTab" class="experience-card-content" [@expandExperienceCard]>
        <div class="experience-card-description">
            <div *ngFor="let description of data.descriptions; let isLast = last">
                <p>{{description}}</p>
                <span class="experience-card-description-separator" *ngIf="!isLast"></span>
            </div>
        </div>
        <div class="experience-card-stickers">
            <app-sticker *ngFor="let sticker of data.stickers" [label]="sticker.label" [logoUrl]="sticker.logoUrl"></app-sticker>
        </div>
    </div>
</div>

<div class="experience-card-footer">
    <div class="experience-card-footer-arrow" [ngClass]="{'arrow-up': openTab}" >
        <svg-icon [src]="'assets/img/chevron-down.svg'" (click)="switchOpenTabStatus()" [svgStyle]="{ 'width.px':20 }"></svg-icon>
    </div>
</div>

