<div class="detail-experiences">
    <h2>{{menuInfos.experiences}}</h2>
    <app-experience-card  *ngFor="let experience of experiences" [data]="experience"></app-experience-card>
</div>

<div class="detail-educations">
    <h2>{{menuInfos.education}}</h2>
    <app-education-card *ngFor="let education of educations" [data]="education"></app-education-card>
</div>

<div class="detail-skills">
    <h2>{{menuInfos.skills}}</h2>
    <app-skills-card *ngFor="let skill of skills"></app-skills-card>
</div>

<div>
    <h2>{{menuInfos.hobbies}}</h2>
    <app-hobby-card *ngFor="let hobby of hobbies"></app-hobby-card>
</div>

<div>
    <h2>{{menuInfos.projects}}</h2>
    <app-project-card *ngFor="let project of projects"></app-project-card>
</div>
