:host {

    .detail-category {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        width:100%;
    }

    .detail-title{
        margin-left: 20px;
    }
}