@import '/src/assets/styles/colors.scss';

$main-width: 300px;
$main-padding: 25px; 
$details-width: calc(100% - #{$main-width} - (2* #{$main-padding}));
$details-left: calc(#{$main-width} + 2* #{$main-padding});

:host {
    display: block;
    width: 100vw;
    height: 100%;
    
    app-main {
        display: flex;
        flex-direction: column;
        width: $main-width;
        padding: 0 $main-padding 0 $main-padding;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        @include secondary-background-color;
    }

    app-details {
        display:flex;
        flex-direction: column;
        position:absolute;
        left: $details-left;
        width: $details-width;

        @include primary-background-color;
    }
    
}
