@import '/src/assets/styles/colors.scss';

:host{
    display: flex;
    flex-flow: column;
    background-color: $secondary-background-color;
    border-radius: 5px;
    margin: 25px;
    justify-content: space-between;
    padding: 20px;
    width: 300px;

    .skill-card-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .skill-card-progress-bars {
            width: 100%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            app-progress-bar {
                width: 100%;
            }
        }

        .skill-card-stickers {
            width: 100%;
            margin: 10px;
            display: flex;
            flex-wrap: wrap;

            app-sticker {
                margin: 5px 10px 5px 0;
            }
        }
    }

    

    .skill-card-title {
        margin-bottom: 5px;
    }
}