$small-screen-maxwidth: 600px;
$medium-screen-maxwidth: 1000px;


h1 {
    font-size: 21px;
}
  
h2 {
    font-size: 21px;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

h1,h2{
    font-weight: 700;
}

p {
    font-size: 1em;
}
 
body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}