h1 {
    font-size: 21px;
}
  
h2 {
    font-size: 21px;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

h1,h2{
    font-weight: 700;
}

p {
    font-size: 1em;
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}