:host {
    display: flex;
    min-height: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: 100%;


    .infos-personal-photo {
        border-radius: 100%;
        max-width: 200px;
        height: auto;
    }

    .infos-description {
        font-weight: normal;
        text-align: left;
    }
}
